
<div class="container-fluid bg-dark text-white pt-5 px-sm-3 px-md-5" *ngIf=!flag>
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 mt-n2 text-white display-6" style="color:gold;">Online Banking</h1>
            </a>
            <p>Dear Customer, We have right card for you. Choose what's right for you</p>
            <p></p>
            <div class="d-flex justify-content-start mt-4">
                <a href="https://twitter.com/" target="_blank" class="btn btn-outline-warning rounded-circle mr-2 px-0" style=" width: 38px; height: 38px;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-facebook-f"></i></a>
                <a href="https://www.pnc.com/en/personal-banking/banking/online-and-mobile-banking/online-banking.html" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" ><i class="fa fa-google"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="font-weight-bold mb-4" style="color:gold;">Quick Links</h5>
            <div class="d-flex flex-column justify-content-start" style="text-decoration:none;">
                <a class="text-white mb-2" href="/home"><i class="fa fa-home" style="color:silver"></i>&emsp;Home</a>
                <a class="text-white mb-2" href="/registration"><i class="fa fa-user-plus" style="color:silver;"></i>&emsp;Registration</a>
                <!-- <a class="text-white mb-2" (click)="login()"><i class="fa fa-sign-in" style="color:silver;cursor: pointer;text-decoration: none;" (click)="login()"></i>&emsp;Login</a> -->
                <a href="contacts" class="text-white mb-2"><i class="fa fa-address-book" style="color:silver;"></i>&emsp;OverView</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-5">
            <h5 class="font-weight-bold mb-4" style="color:gold;">Get In Touch</h5>
            <p>We keep an eye on you credit and identity with account activity tracking, data breach and monitoring and much more- all for free with Credit journey </p>
            <p><i class="fa fa-address-card" style="color:silver"></i>&emsp;Street, Beaumont , Texas.</p>
            <p><i class="fa fa-phone" style="color:silver"></i>&emsp;+1 9999999999</p>
            <p><i class="fa fa-google" style="color:silver"></i>&emsp;onlinebanking@example.com</p>
        </div>
    </div>
</div>
<div class="p-4 bg-dark text-white text-center" *ngIf=flag>
    <p style="color:silver">Online Banking</p>
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <a href="https://twitter.com/" target="_blank" class="btn btn-outline-warning rounded-circle mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-facebook-f"></i></a>
                  <a href="https://www.pnc.com/en/personal-banking/banking/online-and-mobile-banking/online-banking.html" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-google"></i></a>
                  <a href="https://www.instagram.com/" target="_blank" class="btn btn-outline-warning rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;"><i class="fa fa-instagram"></i></a>
              </div>
              <div class="col-sm-4"></div>
          </div>
</div>