<div class="chat-bar-collapsible">

    <button (click)="openForm()" id="chat-button" type="button" class="collapsible">Chat with us!
        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
    </button>
    <div id="myForm" class="form-container" style="overflow-y: auto; min-height: 200px; max-height: 500px; width: 400px;">
        <div class="msg-inbox" >
            <div *ngFor="let message of messageList">
                <div *ngIf="message.sender == 'receiver'"  class="received-msg">
                    <div class="received-msg-inbox">
                        <p>{{message.text}}</p>
                    </div>
                </div>
                <div *ngIf="message.sender != 'receiver'" class="outgoing-msg" >
                    <div class="outgoing-chats-msg">
                        <p>{{message.text}}</p>
                    </div>
                </div>
            </div>
            <div><br><br></div>
            <div class="bottom-div">
                <table style="width:100%">
                    <tr>
                        <td><input [(ngModel)]="msg" type="text" class="form-control" placeholder="Write message..." style="width:100%;background-color: #e6e3e1;"></td>
                    </tr>
                </table>
                <table style="width:99%">
                    <tr>
                        <td><button type="button" class="btn cancel" (click)="closeForm()">Close</button></td>
                        <td><button type="submit" class="btn" (click)="send()" #sendButton >Send</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>