* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 1.5;
    padding: 10px;
    text-indent: 20px;
}
img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 620px;
    margin: 5px auto;

}
.tabs-container {
    position: relative;
    width: 140px;
    height: 105vh;
    float: left;
    z-index: 20;
    background: rgba(0, 0, 0, 0.2);
    color:black;
}
.tabs-container label {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.tabs-container label:hover {
    background: rgba(0, 0, 0, 0.2);
}
.tab-content {
    position: relative;
    background: #eee;
    width: calc(100% - 140px);
    min-height: 100vh;
    padding: 15px;
    float: left;
    box-sizing: border-box;
    z-index: 19;
    display: none;
}
.tab-content:after {
    content: "";
    clear: both;
}
input[name="tab"] {
    display: none;
}
input[name="tab"]:checked+.tab-content {
    display: block;
    animation: slide 0.5s forwards;
}
@keyframes slide {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
#box {
    max-height:100vh;
    width:100%;
    overflow-y: auto;
}
.account-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/*  */
/* body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    } */
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
/*  Images Gallery*/
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  /* .row {
    margin: 8px -16px;
  } */
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  /* image flip with text */
  .content:hover .image {
    opacity: 0.3;
  }
  
  .content:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 16px;
    /* padding: 16px 32px; */
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  .content {
    position: relative;
    /* width: 50%; */
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
  }
  /*  */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"], #gender, #maritialstatus, #citizen{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
/*  */
* {box-sizing: border-box}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}
.tablink:hover {
  background-color: #777;
}
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  border:1px solid black;
}
/*  */
.search-box{
  width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #c2c2c2;
  border-radius: 35px;
  margin: auto;
}
.search-box img{
  width: 18px;
}
.search-box input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 35px;
}
#Zelle{
  background: url('../../assets/images/zelle2.jpg') no-repeat center center;
  height: 650px;
}

.wrapper .button:nth-child(1):hover .icon{
  background: white;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
} */
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #E1306C;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.parent {
  margin: 1rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  width:48%;
  border-radius: 15px;
  margin-left:0.5rem;
  margin-right:0.5rem;

}
.child1 {
  display: inline-block;
  vertical-align: middle;
  width:40%;
}

/* ott */
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  /* margin: 0 5px; */
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.icon{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}
li:hover{
  cursor: pointer;
  background-color: #ded9d9;
}

/*  */

.fa-check-circle {
  color: #5bb15b;
}
.aboutZelle {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;

  color: black;
  padding: 100px 20px;
  height: 100%;
  border:1px solid black;
}
.zelleChat{
  height:87%;
  background-color: #c2c2c2;
  list-style-type: none;
  width:43%;
  margin: auto;
  /* border-radius: 10px; */
  border:1px solid white;
}


/*  */

.msg-inbox {
  overflow: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  background-color: green;
}
.received-msg {
  display: inline-block;
  vertical-align: top;
  width: 92%;
}
.received-msg-inbox {
  max-width: 57%;
}
.received-msg-inbox p {
  background: #efefef none repeat scroll 0 0;
  color: #646464;
  font-size: 14px;
  margin-left: 1rem;
  /* padding: 1rem; */
  width:auto;
  max-width: 75%;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
  border-radius: 10px;
}
.bottom-div{
  background-color: blue;
}

/*  */

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  /* border-radius: 10px 10px 0px 0px; */
  padding: 10px 0px 10px 10px;
}
#userInput {
  width: 80%;
}
.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none
}
.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 20%;
  float: right;
  font-size: 20px;
}
#chat-icon:hover {
  opacity: .7;
}
#leftbox {
  float:left; 
  /* background:Red; */
  width:20%;
  height:55px;
}
#middlebox{
  float:left; 
  color:white;
  /* background:Green; */
  width:60%;
  height:55px;
  text-align: center;
}
#rightbox{
  float:right;
  /* background:blue; */
  width:20%;
  height:55px;
}
/*  */
.container1 {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.left {
  /* width: 50%; */
  float: left;
  background-color: #e6ffff;
  margin: 2px 0 2px 0;
  border-radius: 10px;
  margin-left:10px;
}

.right {
  /* width: 50%; */
  float: right;
  background-color: #e6ffff;
  margin: 2px 0 2px 0;
  border-radius: 10px;
  margin-left:10px;
}
/* .graphIcon {
  background: url("../../assets/images/graphIcon.PNG");
  height: 10px;
  width: 10px;
  display: block;
} */